version: '3'
services:
  api:
    build:
      context: .
      args:
        NODE_ENV: development
    volumes:
      - ./apps:/app/apps:ro
      - /app/node_modules
    command: npx nx serve api

  nginx:
    ports:
      - '3000:80'
