.shieldicon {
  mask-image: url('/shield.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  -webkit-mask-image: url('/shield.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
}
